PORT=8080
MYSQL_DSN=root:root@tcp(127.0.0.1:3306)/agenda_monitor?parseTime=true&multiStatements=true
FRONTEND_DIR=../frontend
SCHEMA_FILE=../database/schema.sql
UPLOAD_DIR=./uploads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=danpixelwrld@gmail.com
SMTP_PASSWORD=isi-app-password-gmail
SMTP_FROM=danpixelwrld@gmail.com
